body {
    min-width: 320px;
    font-family: $font-family;
    background-color: $black;
    -webkit-font-smoothing: antialiased;
    color: $white;
    font-weight: $font-weight-regular;
    font-size: $font-size-text;
    line-height: 1.25;
    box-sizing: border-box;

    @media (min-width: 992px) {
        font-size: $font-size-text-lg;
        line-height: 1.5;
    }
}

header, main, footer {
    padding: 3rem 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding: 2rem 0;
    }
}

main {
    text-align: center;

    @media (max-width: 768px) {
        padding-top: 0;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    .nav-link {
        margin: 0 10px;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .nav-link {
            margin: 0 10px 12px;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover,
    &.router-link-active {
        color: $active !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.base-table {
	border: 1px solid $white;
	border-collapse: collapse;
	margin: 0 auto 2.5rem;

    caption {
        font-weight: $font-weight-bold;
        font-size: $font-size-text-header;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    td {
        border: 1px solid $white;
        vertical-align: middle;
    }
}

.nowrap {
    white-space: nowrap;
}
